In [1]:
#import libraries and data set
import time
import datetime
import pandas as pd
import matplotlib.pyplot as plt
import string
airPollutionData = pd.read_csv("AirQualityUCI.csv", delimiter=';',decimal=",") #The data contains ',' for the floating point
#Removing extra columns(for which we are not interested)
airPollutionSubset = airPollutionData[['Date', 'Time', 'CO(GT)', 'C6H6(GT)', 'NO2(GT)', 'T', 'RH']]
airPollutionSubset.head()

         Date      Time  CO(GT)  C6H6(GT)  NO2(GT)     T    RH
0  10/03/2004  18.00.00     2.6      11.9    113.0  13.6  48.9
1  10/03/2004  19.00.00     2.0       9.4     92.0  13.3  47.7
2  10/03/2004  20.00.00     2.2       9.0    114.0  11.9  54.0
3  10/03/2004  21.00.00     2.2       9.2    122.0  11.0  60.0
4  10/03/2004  22.00.00     1.6       6.5    116.0  11.2  59.6

In [2]:
#Analyzing dataset
print('\033[4mColumn Names:\033[0m\n',list(airPollutionSubset.columns))

#Print data type of each column from left to right
print('\n\033[4mData type of each Feature:\033[0m\n')
print(airPollutionSubset.dtypes)

def TimeMinMax(timeColumn):
    # compute and print minimum and maximum values in Time feature
    # Input
    #  timeColumn : "Time" feature column 
    
    maxVal = minVal = time.strptime(str(timeColumn[0]), "%H.%M.%S") #initialize min and max value as the first value of column
    for i in range(timeColumn.size):                           #loop over each row
        if pd.notnull(timeColumn[i]) : 
            parsedTime = time.strptime(str(timeColumn[i]), "%H.%M.%S")
        
            #Logic for finding maximum value
            if maxVal.tm_hour < parsedTime.tm_hour :
                maxVal = parsedTime
            elif maxVal.tm_hour == parsedTime.tm_hour :
                if maxVal.tm_min < parsedTime.tm_min :
                    maxVal = parsedTime
                elif maxVal.tm_min == parsedTime.tm_min :
                    if maxVal.tm_sec < parsedTime.tm_sec :
                        maxVal = parsedTime
          
            #Logic for finding minimum value
            if minVal.tm_hour > parsedTime.tm_hour :
                minVal = parsedTime
            elif minVal.tm_hour == parsedTime.tm_hour :
                if minVal.tm_min > parsedTime.tm_min :
                    minVal = parsedTime
                elif minVal.tm_min == parsedTime.tm_min :
                    if minVal.tm_sec > parsedTime.tm_sec :
                        minVal = parsedTime
                    
    print('\n\033[4mMaximum and Minimum values of feature "Time":\033[m\n')
    print('Maximum value:', time.strftime("%H.%M.%S", maxVal))
    print('Minimum value:', time.strftime("%H.%M.%S", minVal))
    #end of def

#Call the function to print Maximum and Minimum values of "Time" feature
#Passing only the "Time" column as an argument
TimeMinMax(airPollutionSubset['Time'])


# function for calulating the mean, standard deviation, minimum and maximum of numeric features
def featureStatistics(featureName, featureValues):
    # compute and print mean, standard deviation, minimum and maximum values of numeric features
    # Input
    #  featureName : Name of the column(feature) 
    #  featureValues : All the values in the column
    #print(featureValues)
    print('\033[4mFeature:',featureName, '\033[0m')
    print('  Mean: '+ str(featureValues.mean()))
    print('  Standard Deviation: '+ str(featureValues.std()))
    print('  Minimum Value: '+ str(featureValues.min()))
    print('  Maximum Value: '+ str(featureValues.max())+'\n')
    #end of def

    
#iterating through each numeric (non time) columns
print('\n\033[4mMean, Standard Deviation, Minimum and Maximum of Numeric Features:\033[0m')
for i in airPollutionSubset.columns[2:7]:
    #print(airPollutionSubset[i])
    featureStatistics(i, airPollutionSubset[i])

Column Names:
 ['Date', 'Time', 'CO(GT)', 'C6H6(GT)', 'NO2(GT)', 'T', 'RH']

Data type of each Feature:

Date         object
Time         object
CO(GT)      float64
C6H6(GT)    float64
NO2(GT)     float64
T           float64
RH          float64
dtype: object

Maximum and Minimum values of feature "Time":

Maximum value: 23.00.00
Minimum value: 00.00.00

Mean, Standard Deviation, Minimum and Maximum of Numeric Features:
Feature: CO(GT)
  Mean: -34.20752377898902
  Standard Deviation: 77.65717034682939
  Minimum Value: -200.0
  Maximum Value: 11.9

Feature: C6H6(GT)
  Mean: 1.8656834455487832
  Standard Deviation: 41.3802064363003
  Minimum Value: -200.0
  Maximum Value: 63.7

Feature: NO2(GT)
  Mean: 58.14887250187026
  Standard Deviation: 126.94045525890907
  Minimum Value: -200.0
  Maximum Value: 340.0

Feature: T
  Mean: 9.778305012290337
  Standard Deviation: 43.20362306262309
  Minimum Value: -200.0
  Maximum Value: 44.6

Feature: RH
  Mean: 39.48537992946447
  Standard Deviation: 51.2161449717661
  Minimum Value: -200.0
  Maximum Value: 88.7